/*Universal Styles*/

html {
  font-size: 18px;
  font-family: Helvetica;
  background-color: white;
}

body {
  line-height: 1.4;
}

.container {
  width: 960px;
  margin: 0 auto;

}

.flex {
  display: flex;
}

/*Header & Main Banner*/

header {
  height: 30rem;
  padding-top: 1rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
 color: white;
 background-color: cadetblue;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 1rem 0;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  margin-left: 2rem;
  margin-right: 1rem;
  height: 1.5rem;

}

nav ul {
  margin-right: 1rem;
}

nav li {
  display: inline;
  padding: 0 1rem;
}

header .flex {
  justify-content: flex-end;
}


.main-banner {
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}



/*Main Benefits*/

.main-benefits {
  display: flex;
  justify-content: center;
}

/*Benefit*/

.benefit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
}

.benefit img.paper {
  width: 3.5rem;
}

.benefit img {
  width: 5rem;
  margin-bottom: 1rem;
}

/*Info Section*/

.supporting {
  display: flex;
  justify-content: center;
}
.title {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  width: 10rem;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: cadetblue;
}

.info {
  width: 35%;
  margin-top: 1rem;
  margin-right: 5%;
}

/*Footer*/

footer.container {
  display: flex;
  align-items: center;
  background-color: azure;
  margin-top: 5rem;
}

footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

footer div {
}
